/* ====== MASTER STYLESHEET ====== */
body {
	width: 100%;
}
.dev {
	display: none;
}

.buttons {
	margin: auto;
	margin-top: 7em;
	width: 50%;
}

button {
	width: 300px;
	height: 300px;
	color: white;
	border-radius: 25px;
	border: 0px solid black;
	font-size: 3em;
}

button#p1 {
	background-color: tomato;
}

button#p2 {
	background-color: rebeccapurple;
}
