/* ====== MASTER STYLESHEET ====== */
body {
	width: 100%;
}
.dev {
	display: none;
}

button {
	width: 100px;
	height: 100px;
	color: white;
}

button#p1 {
	background-color: tomato;
}

button#p2 {
	background-color: rebeccapurple;
}
